# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
Thumbs.db
.fleet
.idea

# Vite
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Test output
test-output
coverage

# Storybook
storybook-static

# Local env files
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Test outputs
coverage/
playwright-report/
test-results/
.playwright-mcp/

